<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Form Example</title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="styles.css">
</head>
<style>
body {
	background-color: #f8f9fa;
	 font-family: 'Roboto';
        
}

.container {
    box-shadow: 0 5px 5px grey;
	max-width: 600px;
	margin: auto;
	padding-bottom:10px;
}

h2 {
	text-align: center;
	margin-bottom: 20px;
}

button{
  width:160px;
  position:relative;
  left:200px;
}
</style>
<body>
	<div class="container mt-5">
		<h2 class="mb-4">Edit User Details</h2>
		<form th:action="@{/updateUser/{id}(id=${user.id})}" th:object="${user}" method="post">
			<div class="form-group">
				<label for="name">FirstName</label> <input type="text"
					class="form-control" id="name" placeholder="Enter your firstname"
					th:field="*{firstname}" required>
			</div>
			<div class="form-group">
				<label for="name">LastName</label> <input type="text"
					class="form-control" id="name" placeholder="Enter your lastname"
					th:field="*{lastname}" required>
			</div>
			<div class="form-group">
				<label for="name">Email</label> <input type="email"
					class="form-control" id="name" placeholder="Enter your emai-id"
					th:field="*{email}" required>
			</div>
			<div class="form-group">
				<label for="name">age</label> <input type="text"
					class="form-control" id="name" placeholder="Enter your age"
					th:field="*{age}" required>
			</div>
			<div class="form-group">
            <label>Gender:</label>
            <label>
                <input type="radio" th:field="*{gender}" value="male" /> Male
            </label>
            <label>
                <input type="radio" th:field="*{gender}" value="female" /> Female
            </label>
			</div>
			<div class="form-group">
				<label for="country">Country</label> <input type="text"
					class="form-control" id="name" placeholder="Enter your country"
					th:field="*{country}" required>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
			<br/>
		</form>
	</div>

</body>
</html>